source https://api.nuget.org/v3/index.json

framework: auto-detect
storage: none

nuget FSharp.Core

nuget Avalonia.Desktop
nuget Avalonia.Diagnostics
nuget Avalonia.FuncUI
nuget Avalonia.FuncUI.Elmish
nuget Avalonia.Themes.Fluent
nuget FSharp.Json
